*::after,
::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* header section css */
.top-header {
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.top-header div {
  padding: 10px 0;
  height: 100%;
}
.top-header div img {
  height: 100%;
}
.top-header :nth-child(2) {
  padding-right: 10px;
  color: red;
  display: flex;
  align-items: center;
}
/* navigation section css */
ul {
  display: flex;
  background: #ff4500;
}
ul li {
  padding: 10px;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
ul li:hover {
  background: #000;
  transition: 0.5s;
}
/* Main content css*/
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
.container section {
  padding: 10px;
}
.container :nth-child(1) {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}
.container :nth-child(2) {
  grid-row: 1 / span 5;
}
.container :nth-child(3) {
  grid-column: 1 / span 3;
}
.container :nth-child(4) {
  grid-column: 1 / span 3;
}
.container :nth-child(5) {
  grid-column: 1 / span 3;
}
/* .container :nth-child(6) {
  grid-column: 1 / span 4;
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
} */
/*================================== 
Container section 
====================================*/
.h2Underline {
  padding: 10px;
  margin-left: 10px;
  position: relative;
}
.h2Underline::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #777;
  bottom: 0;
  left: 0;
}
.child div {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
}
.child div img {
  height: 145px;
  border: 2px solid #ccc;
  margin-right: 10px;
  width: 250px;
}
.child div div {
  display: block;
  position: relative;
  padding: 10px;
  border: none;
  width: 100%;
}
.child div div h1 {
  margin-bottom: 10px;
}
.span-group {
  padding: 0 !important;
  margin-bottom: 10px;
}
.span-group span {
  padding: 10px 10px 10px 0;
}
.child div div a {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  color: #fff;
  background: #ff4500;
  font-size: 14px;
  border-radius: 5px;
}
.child div div a:hover {
  background: #000;
  transition: 0.5s;
}
/* =======================================
site bar css 
========================================*/
.side_bar {
  border-left: 1px solid #ccc;
}
.side_bar div h2 {
  padding: 10px;
  position: relative;
}
.side_bar div h2::after {
  content: "";
  height: 2px;
  width: 98%;
  background: #777;
  position: absolute;
  bottom: 0;
  left: 2%;
}
.side_bar div form {
  padding: 10px;
}
.input-group {
  display: flex;
  height: 30px !important;
  border-radius: 10px;
}

.input-group input {
  border: 1px solid #ccc;
  height: 100%;
  flex: 1;
  padding: 0 10px;
  border-radius: 5px 0 0 5px;
}
.input-group span button {
  padding: 8px;
  background: #ff4500;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.input-group span button:hover {
  background: #000;
  transition: 0.5s;
}

/*================================
Single Page css
==============================  */
.singlePage {
  flex-direction: column;
  border: none !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  align-items: center;
}
.singlePage img {
  width: 500px !important;
  height: 300px !important;
}
/* ==================================
Footer section
================================== */
footer {
  grid-column: 1 / span 4 !important;
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
}
